* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  background-color: #008080;
  color: #e5f2f2;
  /* display: flex; */
}

.name {
  font-family: 'Shadows Into Light', cursive;
  font-size: 80px;
}

.title, .la, .app-name {
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
}

#headshot {
  border-radius: 50%;
}

.title, .intro, .technology {
  /* margin: auto; */
}

.technology {
  font-size: 16px;
}

.intro {
  margin-bottom: 40px;
  max-width: 50%;
}

.links {
  margin-top: 40px;
}

#links {
  margin: 5px;
  color: white;
}

.work {
  background-color: #e5f2f2;
  margin: 0;
  padding: 40px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
}

section {
  min-height: 200px;
  padding: 40px;
  background-color: #e5f2f2;
  /* display: flex; */
  border-bottom: 1px solid #444;
  width: 100%;
}

.left, .right {
  margin: auto;
}

.screenshot {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.code-site {
  text-decoration: none;
  color: #008080;
  background-color: white;
  padding: 5px;
  margin: 5px;
}

.description {
  max-width: 50%;
  margin: auto;
}

footer {
  padding: 1% 0;
  background-color: #008080;
  color: #e5f2f2;
}

/* @media screen and (min-width: 600px) {

  }
} */

@media screen and (min-width: 900px) {
  .left, .right {
    max-width: 40%;
  }
}
/*
@media screen and (min-width: 1500px) {

  }
} */
